.item-type{
    margin: 5px;
    width: 70px;
    height: 130px;
    padding: 5px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item-type.active {
    border: 1px solid var(--ion-color-primary);
}

.item-type:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.scroll-menu{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}
